@model IEnumerable<LibrARRRy.Models.Category>

<p>
    @Html.ActionLink("Create New", "Create", "Categories", null, new { @class = "btn btn-outline" })
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-outline" }) |
                @Html.ActionLink("Details", "Details", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-outline" }) |
                @Html.ActionLink("Delete", "Delete", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-outline" })
            </td>
        </tr>
    }

</table>

