@model IEnumerable<LibrARRRy.Models.Tag>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Tags", new { id = item.TagId }, new { @class = "btn btn-outline" }) |
                @Html.ActionLink("Details", "Details", "Tags", new { id = item.TagId }, new { @class = "btn btn-outline" }) |
                @Html.ActionLink("Delete", "Delete", "Tags", new { id = item.TagId }, new { @class = "btn btn-outline" })
            </td>
        </tr>
    }

</table>

