@model IEnumerable<LibrARRRy.Models.Book>
@{
    ViewBag.Title = "Order";
}
@using Microsoft.AspNet.Identity
@using LibrARRRy.Models
@{
    var userName = User.Identity.Name;
    IdentityManager im = new IdentityManager();
    var user = im.GetUserByName(userName);
}

@section Styles {
    <link href="~/Content/table-custom.css" rel="stylesheet" />
    <link href="~/Content/button-custom.css" rel="stylesheet" />
}

<div>
    <table class="table table-borderless ">
        <thead>
            <tr>
                <th style="text-align:center;">Cover</th>
                <th style="text-align:center;">ISBN</th>
                <th style="text-align:center;">Title</th>
                <th style="text-align:center;">Remove</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in Model)
            {
                <tr style="text-align:center">
                    <td style="width: 200px; align-content:center;"><img src="~/img/bookCover.jpg" style="width:200px;" /></td>
                    <td>@book.ISBN</td>
                    <td>@book.Title</td>

                    <td>

                        <button class="btn btn-light btn-sm" data-slno="@book.BookId" onclick="location.href='@Url.Action("Remove", "ShoppingCart", book)'">
                            ✖
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <div class="table">
        <div style="float:right;">
            @if (user.CashPenalty)
            {
                @Html.ActionLink(" Order", "Index", null, new { @class = "btn btn-info btnLoan disabled"})
            }
            else
            {
                @Html.ActionLink(" Order", "Index", null, new { @class = "btn btn-info btnLoan" })
            }
        </div>
    </div>

    <br />

</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

             if ('@user.CashPenalty' == 'True') {
                 alert('You have cash penalty and can\'t borrow any books :(')
            }

            $.get("/ShoppingCart/ChceckLimit", null, function (data) {
                if (data == "False") {
                    $(".btnLoan").attr('disabled', true);
                    alert('Return some books first!')
                }
            });

             $(".btnLoan").click(function (e) {
                e.preventDefault();
                var data = $(this).val();
                $.ajax({
                    url: '@Url.Action("Index", "ShoppingCart")',
                    success: function (data) {
                        alert(data.message);
                        location.reload(true);
                    }
                });
             })

            //$(".disable").click(function () {
            //    return false;
            //})
        });
    </script>
}
