@model LibrARRRy.Models.Book
@{
    ViewBag.Title = "BookDetails";
}

@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{
    var roles = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).ToList();
    ViewBag.Title = "Home Page";
}


@section Styles {
    <link href="~/Content/table-custom.css" rel="stylesheet" />
    <link href="~/Content/button-custom.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}

<div style="margin: 10px;">
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-light fa fa-backward" })
</div>

<div>
    <div class="details">
        <div class="row">
            <div class="col-lg-6" style="text-align: center; margin: 10px; margin-right: 0px; padding-right: 0px;">
                <h1>@Html.DisplayFor(model => model.Title)</h1>
                @foreach (LibrARRRy.Models.Author authors in ViewBag.AuthorsList)
                {
                    <p class="pSameLine">@(authors.Name + "  " + authors.Surname)</p>
                    if (ViewBag.AuthorsList.Count > 1 && ViewBag.AuthorsList[ViewBag.AuthorsList.Count - 1] != authors)
                    {
                        <p class="pSameLine">and</p>
                    }
                }
                <img src="~/img/bookCover.jpg" style="width: 100%;" />

            </div>
            <div class="col-lg-6" style="margin-left: 2%; padding-left: 0px; margin-top: 10%; margin-right: 3%;">
                <h3>Category</h3>
                <hr />
                @Html.DisplayFor(model => model.Category.Name)
                <br />
                <br />
                <h3>@Html.DisplayNameFor(model => model.Tags)</h3>
                <hr />
                @foreach (LibrARRRy.Models.Tag authors in ViewBag.TagsList)
                {
                    <p class="pSameLine">@(authors.Name)</p>
                    if (ViewBag.TagsList.Count > 1 && ViewBag.TagsList[ViewBag.TagsList.Count - 1] != authors)
                    {
                        <p class="pSameLine">and</p>
                    }
                }
                <br />
                <br />
                <h3>@Html.DisplayNameFor(model => model.Description)</h3>
                <hr />
                @Html.DisplayFor(model => model.Description)

                <br />
                <br />
                <h3>@Html.DisplayNameFor(model => model.ISBN)</h3>
                <hr />
                @Html.DisplayFor(model => model.ISBN)
            </div>
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        if (roles[0] == "reader")
        {
            <div class="table">
                <div style="float:right;">
                    <button class="btn btn-primary" value="@Model.BookId" id="btnAdd">Add to cart</button>
                </div>
            </div>
            <br />
        }
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAdd").click(function (e) {

                var data = $(this).val();

                $.ajax({
                url: '@Url.Action("Add", "ShoppingCart")',
                data: { id: data },
                success: function (data) {
                alert(data.addMessage);
                }
                });
            })
        });
    </script>
}





