@model LibrARRRy.Models.Book

<link href="~/Content/BookDetailsSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "BookDetails";
}

<div class="button">
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info fa fa-backward" })
</div>


<div class="row">
    <div class="column left">
        <img src="~/img/bookCover.jpg"/> 
    </div>
    <div class="column middle">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="description">
            <h3>@Html.DisplayNameFor(model => model.Description)</h3>
            <hr />
            @Html.DisplayFor(model => model.Description)
        </div>

    </div>
    <div class="column right">
        @Html.ActionLink(" ", "BookDetails", null, new { @class = "btn btn-info fa fa-shopping-cart" })
    </div>
</div>


