@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
}


<div class="header">
    <div class="top">
        <h1 id="title">LibrARRRy</h1>
        <div id="social">
            <div class="form-inline">
                @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post))
                {
                <input type="text" name="searchString" class="form-control" placeholder="Search book...">
                <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-shopping-basket"></i></button> 
                }
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="column left mycontent-left">
        <aside>
            <div>
                <!-- DODAĆ LINKI -->
                @using (Html.BeginForm("FilterBooks", "Home", FormMethod.Post))
                {
                    <p class="categoriesAndTags">Categories:</p>
                    <div class="form-group">
                        @foreach (LibrARRRy.Models.Category item in ViewBag.CategoriesList)
                        {
                            <div class="checkbox checkBoxMargin">
                                <label>
                                    @Html.CheckBox("C_" + item.Name, false) @item.Name
                                </label>
                            </div>
                        }
                    </div>
                    <hr />
                    <p class="categoriesAndTags">Tags:</p>
                    <div class="form-group">
                        @foreach (LibrARRRy.Models.Tag item in ViewBag.TagsList)
                        {
                            <div class="checkbox checkBoxMargin">
                                <label>
                                    @Html.CheckBox("T_" + item.Name, false) @item.Name
                                </label>
                            </div>
                        }
                    </div>
                    <div class="floatRight">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-filter"></i></button>
                    </div>
                }
            </div>
        </aside>

    </div>
    <div class="column right">
        <section>
                <h1>Newest books! Check them out:</h1>
                <div class="window mycontent-bottom">
                    <ul class="menu">
                        @foreach (LibrARRRy.Models.Book item in ViewBag.BooksList)
                        {
                            <li class="menu-item">
                                <article>
                                    <div>
                                        <img class="bookImg" src="~/img/bookCover.jpg" />
                                        <p class="bookText">@item.Title</p>
                                        <p class="bookText pSameLine"></p>
                                        Authors:
                                        @foreach (LibrARRRy.Models.Author authors in item.Authors)
                                        {
                                            <p class="pSameLine">@authors.Name @authors.Surname</p>
                                            if (item.Authors.Count > 1)
                                            {
                                                <p class="pSameLine">...</p>
                                                break;
                                            }
                                        }
                                    </div>
                                </article>
                            </li>
                        }
                    </ul>
                </div>
            <!--ON CLICKI DODAC-->
            @foreach (LibrARRRy.Models.Book item in ViewBag.BooksList)
            {
                <article>
                    <div>
                        <p class="bookText">@item.Title</p>
                        <img class="bookImg" src="~/img/bookCover.jpg" />
                        <p class="bookText pSameLine"></p>
                        Authors:
                        @foreach (LibrARRRy.Models.Author authors in item.Authors)
                        {
                            <p class="pSameLine">@authors.Name @authors.Surname</p>
                            if (item.Authors.Count > 1)
                            {
                                <p class="pSameLine">...</p>
                                break;
                            }
                        }
                    </div>
                </article>
            }
        </section>
    </div>
</div>

