@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="~/Content/IndexSheet.css" rel="stylesheet" />
}


<div class="header">
    <div class="top">
        <h1 id="title">LibrARRRy</h1>
        <div id="social">
            <div class="form-inline">
                @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post))
                {
                    <input type="text" name="searchString" class="form-control" placeholder="Search book...">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                    @Html.ActionLink(" ", "Order", "ShoppingCart", null, new { @class = "btn btn-info fa fa-shopping-basket" })

                }
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="column left mycontent-left">
        <aside>
            <div>
                <!-- DODAĆ LINKI -->
                @using (Html.BeginForm("FilterBooks", "Home", FormMethod.Post))
                {
                    <p class="categoriesAndTags">Categories:</p>
                    <div class="form-group">
                        @foreach (LibrARRRy.Models.Category item in ViewBag.CategoriesList)
                        {
                            <div class="checkbox checkBoxMargin">
                                <label>
                                    @Html.CheckBox("C_" + item.Name, false) @item.Name
                                </label>
                            </div>
                        }
                    </div>
                    <hr />
                    <p class="categoriesAndTags">Tags:</p>
                    <div class="form-group">
                        @foreach (LibrARRRy.Models.Tag item in ViewBag.TagsList)
                        {
                            <div class="checkbox checkBoxMargin">
                                <label>
                                    @Html.CheckBox("T_" + item.Name, false) @item.Name
                                </label>
                            </div>
                        }
                    </div>
                    <div class="floatRight">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-filter"></i></button>
                    </div>
                }
            </div>
        </aside>

    </div>
    <div class="column right">
        <section>
            <div class="info">

                @if (ViewBag.roleName == "admin")
                {
                    <span id="edit" class="closebtn fa fa-edit"></span>
                }
                else
                {
                    <span class="closebtn fa fa-times" onclick="this.parentElement.style.hidden='none';"></span>
                }

                <p class="info-id pSameLine"><strong>@ViewBag.lastModified Info! </strong></p> 
                <p class="info-id pSameLine" id="messageP">@ViewBag.message</p>

                <form id="formMessage" style="display:none;">
                    <br />
                    <div class="form-group-lg">
                        <label for="messageText">Message text</label>
                        <textarea class="form-control" id="messageText" rows="2" wrap="soft" style="min-inline-size: 100%; resize:vertical; font-size: 15px;"></textarea>
                    </div>
                    <br />
                    <span id="save" class="closebtn fa fa-save"></span>
                    <br />
                </form>
            </div>
        </section>
        <section>
            @if (ViewBag.NewBookList.Count != null)
            {
                <h1>Newest books! Check them out:</h1>
                <div class="window">
                    <ul class="menu">
                        @foreach (LibrARRRy.Models.Book item in ViewBag.NewBookList)
                        {
                            <li class="menu-item">
                                <article>
                                    <div>
                                        <img class="bookImg" src="~/img/bookCover.jpg" />
                                        <p class="bookText">@item.Title</p>
                                        <div class="authorsText">
                                            @foreach (LibrARRRy.Models.Author authors in item.Authors)
                                            {
                                                <p class="pSameLine">@(authors.Name + "  " + authors.Surname)</p>
                                                if (item.Authors.Count > 1 && item.Authors.Last() != authors)
                                                {
                                                    <p class="pSameLine">and</p>
                                                }

                                            }
                                        </div>
                                        <div class="floatRight">
                                            @Html.ActionLink(" ", "BookDetails", new { id = item.BookId }, new { @class = "btn btn-warning fa fa-info" })
                                        </div>
                                    </div>
                                </article>
                            </li>
                        }
                    </ul>
                </div>
                <hr />
            }
            <!--ON CLICKI DODAC-->
            @foreach (LibrARRRy.Models.Book item in ViewBag.BooksList)
            {
                <article>
                    <div>
                        <img class="bookImg" src="~/img/bookCover.jpg" />
                        <p class="bookText">@item.Title</p>
                        <div class="authorsText">
                            @foreach (LibrARRRy.Models.Author authors in item.Authors)
                            {
                                <p class="pSameLine">@(authors.Name + "  " + authors.Surname)</p>
                                if (item.Authors.Count > 1 && item.Authors.Last() != authors)
                                {
                                    <p class="pSameLine">and</p>
                                }

                            }
                        </div>
                        <div class="floatRight">
                            <a href="@Url.Action("Add", "ShoppingCart", item)" class="btn btn-info btn-sm">
                                <span class="fa fa-shopping-cart"></span>
                            </a>
                            @* @Html.ActionLink(" ", "A", null, new { @class = "btn btn-info fa fa-shopping-cart" })*@

                            @Html.ActionLink(" ", "BookDetails", new { id = item.BookId }, new { @class = "btn btn-warning fa fa-info btn-md" })
                        </div>
                    </div>
                </article>
            }
        </section>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#edit").click(function () {
                $("#formMessage").show();
            });
            $("#save").click(function () {

                var text = $("#messageText").val();

                $.ajax({
                    url: '/Home/SaveMessage',
                    data: { messsage: text }, 
                    type: "post",
                    cache: false,
                    success: function () {
                        $('#messageP').text(text)
                        $("#messageText").val('');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#messageP').text("ERROR")
                    }
                });
                $("#formMessage").hide();
            });
        });
    </script>
}

