@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{
    var roles = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).ToList();
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="~/Content/Index.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-2" style="border-right: 1px solid #eee; padding: 0px;">
        <p class="categoriesAndTags" style="font-weight: 100; line-height: 1.2;">Categories:</p>
        <div class="form-group">
            @foreach (LibrARRRy.Models.Category item in ViewBag.CategoriesList)
            {
                <div class="checkbox checkBoxMargin">
                    <label>
                        <input type="checkbox" value="@item.Name" id="C_@item.Name" name="filters[]" /> @item.Name
                    </label>
                </div>
            }
        </div>
        <hr />
        <p class="categoriesAndTags">Tags:</p>
        <form class="form-group" id="formTags">
            @foreach (LibrARRRy.Models.Tag item in ViewBag.TagsList)
            {
                <div class="checkbox checkBoxMargin">
                    <label>
                        <input type="checkbox" value="@item.Name" id="T_@item.Name" name="filters[]" /> @item.Name
                    </label>
                </div>
            }
        </form>
        <div class="floatRight">
            <button class="btn btn-light" id="filterBooks"><i class="fa fa-filter"></i></button>
        </div>
    </div>

    <div class="col-lg-10" style="padding: 0px;">
        <section>
            <div class="info" id="info">
                @if (Request.IsAuthenticated)

                {
                    if (roles[0] == "admin")
                    {
                        <span id="edit" class="closebtn fa fa-edit"></span>
                    }
                    else
                    {
                        <span class="closebtn fa fa-times" id="close"></span>
                    }
                }
                else
                {
                    <span class="closebtn fa fa-times" id="close"></span>
                }

                <p class="info-id pSameLine"><strong>@ViewBag.lastModified Info! </strong></p>
                <p class="info-id pSameLine" id="messageP">@ViewBag.message</p>

                <div id="formMessage" style="display:none;">
                    <br />
                    <div class="form-group-lg">
                        <label for="messageText">Message text</label>
                        <textarea class="form-control" id="messageText" rows="2" wrap="soft" style="min-inline-size: 100%; resize:vertical; font-size: 15px;"></textarea>
                    </div>
                    <br />
                    <span id="save" class="closebtn fa fa-save"></span>
                    <br />
                </div>
            </div>
        </section>
        <div class="form-inline centered">
            @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post))
            {
                <input type="text" name="searchString" class="form-control" placeholder="Search book..." id="searchBook" style="min-width: 30rem;">
                <button class="btn btn-light" id="searchButton"><i class="fa fa-search"></i></button>
                if (Request.IsAuthenticated)
                {
                    if (roles[0] == "reader")
                    {
                        <button class="btn btn-light" id="saveSearchButton" title="Save your search!"><i class="fa fa-save"></i></button>
                    }
                }
            }
         </div>
        <section>
            <span class="closebtn fa fa-chevron-up" style="float: right; color: dimgray; margin: 10px;" id="btnNewBooks"></span>
            <br/>
            @if (ViewBag.NewBookList.Count != null)
            {
                <div id="newBooksList">
                    <div class="window">
                        <h1 class="newBooks">Newest books!</h1>
                        <div class="container-fluid">
                            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                                @foreach (LibrARRRy.Models.Book item in ViewBag.NewBookList)
                                {
                                    <div class="card" style="max-width: 28rem; min-width: 28rem; margin: 13px;">
                                        <h5 class="card-title"><strong>@item.Title</strong></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            @foreach (LibrARRRy.Models.Author authors in item.Authors)
                                            {
                                                @(authors.Name + "  " + authors.Surname)
                                                if (item.Authors.Count > 1 && item.Authors.Last() != authors)
                                                {
                                                    @:and
                                                }

                                            }
                                        </h6>
                                        <div class="card-body">
                                            <img class="card-img" src="~/img/bookCover.jpg" alt="Card book cover">
                                            <p class="card-text">
                                                <strong>Description: </strong>
                                                @if (item.Description.Length > 100)
                                                {
                                                    if (item.Description.Substring(0, Math.Min(item.Description.Length, 100)).EndsWith(" "))
                                                    {
                                                        @item.Description.Substring(0, Math.Min(item.Description.Length, 99))@:...
                                                    }
                                                    else
                                                    {
                                                        @item.Description.Substring(0, Math.Min(item.Description.Length, 100))@:...
                                                    }

                                                }
                                                else
                                                {
                                                    @item.Description
                                                }
                                            </p>
                                            <div style="float:right">
                                                <a href="@Url.Action("BookDetails", "Home", new { id = item.BookId })" class="btn btn-light btn-md fa fa-info"></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <div id="booksList">
                @Html.Partial("_IndexBooksList", (IEnumerable<LibrARRRy.Models.Book>)ViewBag.BooksList)
            </div>
        </section>
    </div>

</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#edit").click(function () {
                $("#formMessage").show();
            });

            $("#close").click(function () {
                $("#info").slideUp();
            });

            $("#btnNewBooks").click(function () {
                if ($("#newBooksList").is(':visible')) {
                    $("#newBooksList").slideUp();
                    $(this).removeClass('fa-chevron-up')
                    $(this).addClass('fa-chevron-down')
                } else {
                    $("#newBooksList").slideDown();
                    $(this).removeClass('fa-chevron-down')
                    $(this).addClass('fa-chevron-up')
                }

            });

            $("#save").click(function () {
                var text = $("#messageText").val();
                $.ajax({
                    url: '/Home/SaveMessage',
                    data: { messsage: text },

                    type: "post",
                    cache: false,
                    success: function () {
                        $('#messageP').text(text)
                        $("#messageText").val('');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#messageP').text("ERROR")
                    }
                });
                $("#formMessage").hide();
            });
            $("#filterBooks").click(function () {
                var data = [];
                $("input[name='filters[]']:checked").each(function () {
                    data.push($(this).attr("id"));
                });
                $.ajax({
                    url: '@Url.Content("~/Home/FilterBooks")',
                    data: { formCollection: JSON.stringify(data) },
                    type: "get",
                    success: function (result) {
                        $('#booksList').empty();
                        $('#booksList').html(result);
                    }
                });
            });

            $("#searchButton").click(function (e) {

                var data = $('#searchBook').val();

                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("SearchBooks")',
                    data: { searchString: data },
                    type: "get",
                    success: function (result) {
                        $('#booksList').empty();
                        $('#booksList').html(result);
                    }
                });
            });

            $("#saveSearchButton").click(function (e) {
                var data = $('#searchBook').val();
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("SaveSearch")',
                    data: { searchString: data },
                    /*type: "post"*/
                    //success: function (resultData) {
                    //    alert('Your search has been saved!')
                    //}
                });
                if (data != '') alert('Your search has been saved!')
                else alert('Cannot save empty search!')
            })

            $(".btnAdd").click(function (e) {
                e.preventDefault();
                var data = $(this).val();

                 $.ajax({
                    url: '@Url.Action("Add", "ShoppingCart")',
                    data: { id: data },
                 })
                alert('Book has been added to cart! :)')
            })

        });
    </script>
}
