@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="~/Content/Index.css" rel="stylesheet" />
}


<div class="header">
    <div class="top">
        <h1 id="title">LibrARRRy</h1>
        <div id="social">
            <div class="form-inline">
                @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post))
                {
                    <input type="text" name="searchString" class="form-control" placeholder="Search book..." id="searchBook">
                    <button class="btn btn-outline-secondary" id="searchButton"><i class="fa fa-search"></i></button>
                    @Html.ActionLink(" ", "Order", "ShoppingCart", null, new { @class = "btn btn-info fa fa-shopping-basket" })

                }
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="column left mycontent-left">
        <aside>
            <div>
                <p class="categoriesAndTags">Categories:</p>
                <div class="form-group">
                    @foreach (LibrARRRy.Models.Category item in ViewBag.CategoriesList)
                    {
                        <div class="checkbox checkBoxMargin">
                            <label>
                                <input type="checkbox" value="@item.Name" id="C_@item.Name" name="filters[]" /> @item.Name
                            </label>
                        </div>
                    }
                </div>
                <hr />
                <p class="categoriesAndTags">Tags:</p>
                <form class="form-group" id="formTags">
                    @foreach (LibrARRRy.Models.Tag item in ViewBag.TagsList)
                    {
                        <div class="checkbox checkBoxMargin">
                            <label>
                                <input type="checkbox" value="@item.Name" id="T_@item.Name" name="filters[]" /> @item.Name
                            </label>
                        </div>
                    }
                </form>
                <div class="floatRight">
                    <button class="btn btn-outline-secondary" id="filterBooks"><i class="fa fa-filter"></i></button>
                </div>
            </div>
        </aside>

    </div>
    <div class="column right">
        <section>
            <div class="info" id="info">

                @if (ViewBag.roleName == "admin")
                {
                    <span id="edit" class="closebtn fa fa-edit"></span>
                }
                else
                {
                    <span class="closebtn fa fa-times" id="close"></span>
                }

                <p class="info-id pSameLine"><strong>@ViewBag.lastModified Info! </strong></p>
                <p class="info-id pSameLine" id="messageP">@ViewBag.message</p>

                <div id="formMessage" style="display:none;">
                    <br />
                    <div class="form-group-lg">
                        <label for="messageText">Message text</label>
                        <textarea class="form-control" id="messageText" rows="2" wrap="soft" style="min-inline-size: 100%; resize:vertical; font-size: 15px;"></textarea>
                    </div>
                    <br />
                    <span id="save" class="closebtn fa fa-save"></span>
                    <br />
                </div>
            </div>
        </section>
        <section>
            <span class="closebtn fa fa-chevron-up" style="float: right; color: dimgray; margin: 10px;" id="btnNewBooks"></span>
            <h1>Newest books! Check them out:</h1>
            @if (ViewBag.NewBookList.Count != null)
            {
                <div id="newBooksList">
                    <div class="window">
                        <div class="container-fluid">
                            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                                @foreach (LibrARRRy.Models.Book item in ViewBag.NewBookList)
                                {
                                    <div class="card" style="max-width: 28rem; min-width: 28rem; margin: 13px;">
                                        <h5 class="card-title"><strong>@item.Title</strong></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            @foreach (LibrARRRy.Models.Author authors in item.Authors)
                                            {
                                                @(authors.Name + "  " + authors.Surname)
                                                if (item.Authors.Count > 1 && item.Authors.Last() != authors)
                                                {
                                                    @:and
                                                }

                                            }
                                        </h6>
                                        <div class="card-body">
                                            <img class="card-img" src="~/img/bookCover.jpg" alt="Card book cover">
                                            <p class="card-text">
                                                <strong>Description: </strong>
                                                @if (item.Description.Length > 100)
                                                {
                                                    if (item.Description.Substring(0, Math.Min(item.Description.Length, 100)).EndsWith(" "))
                                                    {
                                                        @item.Description.Substring(0, Math.Min(item.Description.Length, 99))@:...
                                                    }
                                                    else
                                                    {
                                                        @item.Description.Substring(0, Math.Min(item.Description.Length, 100))@:...
                                                    }

                                                }
                                                else
                                                {
                                                    @item.Description
                                                }
                                            </p>
                                            <div style="float:right">
                                                <a href="@Url.Action("BookDetails", "Home", new { id = item.BookId })" class="btn btn-light btn-md fa fa-info"></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <div id="booksList">
                @Html.Partial("_IndexBooksList", (IEnumerable<LibrARRRy.Models.Book>)ViewBag.BooksList)
            </div>
        </section>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#edit").click(function () {
                $("#formMessage").show();
            });

            $("#close").click(function () {
                $("#info").slideUp();
            });

            $("#btnNewBooks").click(function () {
                if ($("#newBooksList").is(':visible')) {
                    $("#newBooksList").slideUp();
                    $(this).removeClass('fa-chevron-up')
                    $(this).addClass('fa-chevron-down')
                } else {
                    $("#newBooksList").slideDown();
                    $(this).removeClass('fa-chevron-down')
                    $(this).addClass('fa-chevron-up')
                }

            });

            $("#save").click(function () {
                var text = $("#messageText").val();
                $.ajax({
                    url: '/Home/SaveMessage',
                    data: { messsage: text }, 

                    type: "post",
                    cache: false,
                    success: function () {
                        $('#messageP').text(text)
                        $("#messageText").val('');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#messageP').text("ERROR")
                    }
                });
                $("#formMessage").hide();
            });
            $("#filterBooks").click(function () {
                var data = [];
                $("input[name='filters[]']:checked").each(function () {
                    data.push($(this).attr("id"));
                });
                $.ajax({
                    url: '@Url.Content("~/Home/FilterBooks")',
                    data: { formCollection: JSON.stringify(data) },
                    type: "get",
                    success: function (result) {
                        $('#booksList').empty();
                        $('#booksList').html(result);
                    }
                });
            });

            $("#searchButton").click(function (e) {

                var data = $('#searchBook').val();

                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("SearchBooks")',
                    data: { searchString: data },
                    type: "get",
                    success: function (result) {
                        $('#booksList').empty();
                        $('#booksList').html(result);
                    }
                });
            });

        });
    </script>
}
