@using LibrARRRy.Models

@model dynamic

@{
    ViewBag.Title = "ManageAll";
}

@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{
    var roles = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).ToList();
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="~/Content/ManageAllSheet.css" rel="stylesheet" />
}

@if(roles[0] == "admin")
{
    <span class="closebtn fa fa-chevron-up" style="float: right; color: dimgray; margin: 10px;" id="btnHidePanel"></span>
    <br />
    <div class="row" style="margin: 10px;" id="hidePanel">
        <div class="col-lg-6">
            <div style="float:right;">
                <label for="maxBorrowsBooks">Limit for borrowed books</label>
                <input type="number" id="maxBorrowBooks" value="@ViewBag.Limit" class="form-control" />
            </div>
        </div>
        <div class="col-lg-6">
            <label for="maxHoldedBooks">Limit for holding books</label>
            <select id="holdedBook" class="form-control">
                @for (int i = 0; i < ViewBag.HoldedBooks.Count; i++)
                {
                    <option value="@i">@ViewBag.HoldedBooks[i]</option>
                }
            </select>
            <br />
            <button class="btn btn-primary" id="borrowBooksConfirm"> Submit</button>
        </div>
    </div>
}

<div class="row" style="margin:10px; align-content: center;">
    <div class="col-sm-1">
        <ul class="nav nav-pills nav-stacked" id="manage">
            <li id="Books"><a href="#Books">Books</a></li>
            <li id="Authors"><a href="#Authors">Authors</a></li>
            <li id="Categories"><a href="#Categories">Categories</a></li>
            <li id="Tags"><a href="#Tags">Tags</a></li>
            <li id="Storages"><a href="#Storages">Storages</a></li>
            <li id="Readers"><a href="#Readers">Readers</a></li>
            <li id="Loans"><a href="#Loans">Borrows</a></li>
        </ul>

    </div>
    <div class="col-sm-11" style="border-left: 1px solid #eee;" id="render">
        <div id="BooksDiv">
            @{
                Html.RenderPartial("_BookList", Model.Books as IEnumerable<LibrARRRy.Models.Book>);
            }
        </div>
        <div id="AuthorsDiv" style="display:none;">
            @{
                Html.RenderPartial("_AuthorsList", Model.Authors as IEnumerable<LibrARRRy.Models.Author>);
            }
        </div>
        <div id="CategoriesDiv" style="display:none;">
            @{
                Html.RenderPartial("_CategoriesList", Model.Categories as IEnumerable<LibrARRRy.Models.Category>);
            }
        </div>
        <div id="TagsDiv" style="display:none;">
            @{
                Html.RenderPartial("_TagsList", Model.Tags as IEnumerable<LibrARRRy.Models.Tag>);
            }
        </div>
        <div id="StoragesDiv" style="display:none;">
            @{
                Html.RenderPartial("_StoragesList", Model.Storages as IEnumerable<LibrARRRy.Models.Storage>);
            }
        </div>
        <div id="ReadersDiv" style="display:none;">
            @{
                Html.RenderPartial("_ReadersList", Model.Readers as IEnumerable<LibrARRRy.ViewModel.ConfirmReadersViewModel>);
            }
        </div>
        <div id="LoansDiv" style="display:none;">
            @{
                Html.RenderPartial("_LoansList", Model.Loans as IEnumerable<LibrARRRy.Models.Loan>);
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnHidePanel").click(function () {
                if ($("#hidePanel").is(':visible')) {
                    $("#hidePanel").slideUp();
                    $(this).removeClass('fa-chevron-up')
                    $(this).addClass('fa-chevron-down')
                } else {
                    $("#hidePanel").slideDown();
                    $(this).removeClass('fa-chevron-down')
                    $(this).addClass('fa-chevron-up')
                }

            });

            $('select option[value="@ViewBag.SelectedHolded"]').attr("selected", true);

            var string = '@ViewBag.PreviousUrl';
            $("#render").children().each(function (i, elm) {
                $(this).hide();
            });

            $("#manage li").each(function () {
                if ($(this).has('active')) {
                    if (string == '/' || string.includes("Workers") || string.includes("Searches")) {
                        if (this.id == "Books") {
                            $("#" + this.id + "Div").show();
                            $(this).addClass('active');
                        }
                    } else if (string.includes(this.id)) {
                        $("#" + this.id + "Div").show();
                        $(this).addClass('active');
                    }
                    else if (string == '/ManagePanel/All') {
                        $("#ReadersDiv").show();
                        $("#Readers").addClass('active');
                    } else {
                        $("#BookssDiv").show();
                        $("#Books").addClass('active');
                    }
                };
            });

            $("#manage li").click(function (e) {
                var id = this.id;
                $("#render").children().each(function (i, elm) {
                    $(this).hide();
                });
                $("#" + id + "Div").show();

                $("li").each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });

            $("#borrowBooksConfirm").click(function (e) {
                var value = $("#maxBorrowBooks").val();
                var valueSelected = $("#holdedBook option:selected").text();
                e.preventDefault();
                if (value < 1) {
                    alert('Value cannot be lower than 1!')
                } else {
                    $.ajax({
                        url: '@Url.Action("ChangeBorrowBooksLimit")',
                        data: { number: value, selectedValue: valueSelected },
                    });
                    alert('Successfully changed!')
                }
            });
        });
    </script>
}